
/* Carousel Slider */
#myCarousel .carousel-item {
    height: 32rem;
    background:black;
    color: white;
    background-position: center;
    background-size:cover;
}
#myCarousel .container {
    height: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}


/* End of Carousel Slider */
.programs-column{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}
.programs-column div{
    padding: 30px 20px;
    text-align:center;
    margin-top: 30px;
    border-radius: 7px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}
.programs-column div h3{
  font-size: clamp(36px, 5vw, 52px);

}
#hero-about{
    background-image:linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0,0.8)), url(../assets/marriage.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 300px;
}

@media screen and (max-width: 768px) {
    .programs-column{
        display: grid;
        grid-template-columns: 1fr;
        gap:20px;
    }
}