@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    overflow: none;
}
/* Carousel Slider */
#myCarousel .carousel-item {
    height: 32rem;
    background:black;
    color: white;
    background-position: center;
    background-size:cover;
}
#myCarousel .container {
    height: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
   
}
#myCarousel .container h1{
    font-size: clamp(24px, 5vw, 32px);
    font-weight: 900;
    /* font-family: 'Lora', serif; */
    font-family:'Montserrat', sans-serif;
}


/* End of Carousel Slider */
.programs-column{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}
.programs-column div{
    padding: 30px 20px;
    text-align:center;
    margin-top: 30px;
    border-radius: 5px;
    
    box-shadow: 1px 3px 5px rgba(136, 133, 133, 0.5);
}

.programs-column div h3{
  font-size: clamp(32px, 5vw, 42px);

}
#hero-about{
    background-image:linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0,0.5)), url(../assets/slider2.jpeg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 300px;
}
#hero-message{
    background-image:linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0,0.5)), url(../assets/min1.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 300px;
    background-attachment: fixed;
}

/* contact  */
.fab {
    color: #63811C;
}
#contact{
    /* margin-bottom: 50px; */
    padding-bottom: 50px;
    background-color: white;
}
.contact-wrapper{
    padding: 0 10px;
}
#contact h1{
   text-align: center;
   padding-top: 50px;
   padding-bottom: 20px;
   color: black;
   font-family: var(--mainFont);
   margin-bottom: 30px;
   font-size: clamp(32px, 5vw, 36px);
}
#contact .contact-me {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    background-color:rgb(34, 34, 34);
    /* box-shadow: 3px 5px 10px rgba(114, 110, 110, 0.3); */
}
.contact-me label{
    color: #e6e6e6;
}
input[type="text"], input[type="email"] {
    margin: 10px 0;
    width: 100%;
    padding: 10px 0;
    background-color: white;
    border-radius: 7px;
    border:none;
    text-indent: 14px;
}
input[type="text"]:focus, 
input[type="email"]:focus, 
textarea:focus{
    outline:none;
    border: 1px solid firebrick;
}
input[type='submit']:focus{
      outline:none;
}
textarea{
    margin: 10px 0;
    width: 100%;
    height: 200px;
    border-radius: 7px;
    border: none;
    text-indent: 14px;
}
input[type="submit"] {
   margin: 10px 0;
   width: 100%;
   padding: 10px 0;
   background-color: #63811C;
   border: none;
   cursor:pointer;
   color: white;
   border-radius: 7px;
   border:none;
   text-indent: 14px;
   font-weight:700;
}
.book-image{
    height: 400px;
    width: 50%;
}

@media screen and (max-width: 768px) {
    .programs-column{
        display: grid;
        grid-template-columns: 1fr;
        gap:20px;
    }
}